[Unit]
Description=Smart Headphone Flask API
After=network.target sound.target
Wants=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/FYP_project/translate
ExecStart=/usr/bin/python3 /home/pi/FYP_project/translate/run_flask.py
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/smart-headphone-api.log
StandardError=append:/var/log/smart-headphone-api.err
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
